<%- include("../partials/header.ejs") %>


    

    <div class="container" style="margin-top: 150px;">
        <div class="row">
            <div class="col-lg-12">
                <img src="https://media.istockphoto.com/vectors/tired-cat-vector-id579257282?k=6&m=579257282&s=170667a&w=0&h=VWXsMJ5v-uAcmx3hY7dQBNWvoJB4X2D9N-6NUBxbYZ4=" class="img-responsive center-block d-block mx-auto" alt="Sample Image">
                <p style="margin-top: 20px;" class="text-center">Let me sleep...zzz</p>
            </div>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>